{
  "env": {
    "client-dev": {
      "presets": ["es2015", "react"],
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    },
    "server-dev": {
      "presets": ["es2015", "react"]
    },
    "client-prod": {
      "presets": ["es2015", "react"]
    },
    "server-prod": {
      "presets": ["es2015", "react"]
    }
  }
}