doctype html
html
  head
    title React Fetch Boilerplate

  body
    #root!= content

  script.
    // make sure this JSON is properly sanitized!
    // window.INITIAL = !{JSON.stringify(initial)};

  script(src='/main.js')
