doctype html
html
	head
		title React-Webpack-Express Isomorphic Boilerplate
		link(rel='stylesheet', type='text/css', href='bundle-build.css')

	body
		#root!=content

	script(src='bundle-build.js')
