.container {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 960px;
}

.heading {
  text-align: center;
}

.imageContainer {
  margin: 20px 0 0 0;
}

.imageFile {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.imageCaption {
  font-size: 50px;
  font-style: italic;
  margin-top: 10px;
}
